#	The client configuration file. This information is soft encoded for the
#	sake of testing. Rather than having to recompile everytime, one need only
#	modify this file rather than the source. Undoubtedly, this runs slower,
#	but it only needs to run once so that might also make the time extension
#	insignificant.
#			-Benjamin Gauronskas
###############################################################################


#Address: The hostname/IP to connect to
#######
Address	= localhost

#Port: The port that the server will listen on
#######
Port	= 5465


